# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

#Documentation
Documentation/note.md

# IDE
.vscode/
.idea/
.obsidian
*.sw?

# OS
.DS_Store
Thumbs.db

# Fichiers specifiques au projet
agentCode_images.md
AGENTS.md
